{% with first_event=upcoming_events|first %}
  {% if first_event %}
<div class='landingPageMainQuote' >
    <div class="heroEventDetail container">
        <div>
            <h3>{{ first_event.date }} </h3>
            <h1>{{ first_event.name }}</h1>
            <div class='hero-btns'>
                <a href="#" class="btn">Buy Tickets</a>
                <a href="{% url 'fightCardDetail' slug=first_event.slug %}"  class="btn hero-ticket-btn">VIEW EVENT</a>
            </div>
        </div>
        
    </div>
</div>
  {% endif %}
{% endwith %}


