<div class='cbkc-card upcomingEvents '>
    <div class='upcomingEventsCardDetail'>

        <div class="upcomingEventsCardFighterImage">
            <img class='fighter-left-image'src="https://www.ufc.com/images/styles/event_results_athlete_headshot/s3/2025-02/DU_PLESSIS_DRICUS_BELT_02-08.png?itok=cAJIbUmd" alt="Girl in a jacket">  
            <img class='fighter-right-image'src="https://www.ufc.com/images/styles/event_results_athlete_headshot/s3/2025-05/CHIMAEV_KHAMZAT_10-26.png?itok=rXLgBsky" alt="Girl in a jacket"> 
        </div>
        <div>  
                <h4>Du Plessis vs Chimaev</h4>
                <h6>Sat, Aug 16 / 8:00 PM MDT / Main Card</h6>
                <small>United Center</small>
                <small> Chicago,IL United States </small>
        </div>

            <div class='upcoming-events-btns'>
                <a href="#" class="btn">Buy Tickets</a>
                <a href="#" class="btn hero-ticket-btn view-event-btn">VIEW EVENT</a>
            </div>

    </div>




</div>      




