<div class='cbkc-card upcomingEvents'>

    {% for event in upcoming_events %}
    <div class='upcomingEventsCardDetail'>

        <div class="upcomingEventsCardFighterImage">
            {% if event.fight_card and event.fight_card.matches.all %}
                {% with first_match=event.fight_card.matches.all.0 %}
                    <img class='fighter-left-image'
                        src="{{ first_match.fighter_red.image_medium.url }}"
                        alt="{{ first_match.fighter_red.last_name }}"
                        height='150' width='150'>

                    <img class='fighter-right-image'
                        src="{{ first_match.fighter_blue.image_medium.url }}"
                        alt="{{ first_match.fighter_blue.last_name }}"
                        height='150' width='150'>
                        
                {% endwith %}
            {% endif %}
        </div>

        <div class="upcomingEventsCardFighterDetail">
            {% if event.fight_card and event.fight_card.matches.all %}
                {% with first_match=event.fight_card.matches.all.0 %}
                    <h4>{{ first_match.fighter_red.last_name }} vs {{ first_match.fighter_blue.last_name }}</h4>
                    <h6>{{ event.date|date:"F j, Y" }}</h6>
                {% endwith %}
            {% else %}
                <h4>No Matches Yet</h4>
                <h6>{{ event.date|date:"F j, Y" }}</h6>
            {% endif %}

            <div class="upcomingEventsCardFighterCountry">
                <small>{{ event.venue }}</small>
                <small>{{ event.location }}</small>
            </div>
        </div>

        <div class='upcoming-events-btns'>
            <a href="#" class="btn view-event-btn">Buy Tickets</a>
            <a href="{% url 'fightCardDetail' slug=event.slug %}" class="btn hero-ticket-btn view-event-btn">VIEW EVENT</a>

        </div>

    </div>  
    {% endfor %}
</div>



