# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE files (optional)
.vscode/
.idea/
vite-app/eslint.config.js
vite-app/index.html
vite-app/package-lock.json
vite-app/package.json
vite-app/public/vite.svg
vite-app/README.md
vite-app/src/App.css
vite-app/src/App.jsx
vite-app/src/assets/react.svg
vite-app/src/authentication/AuthGuard.jsx
vite-app/src/authentication/LoginPage.jsx
vite-app/src/components/CBKCCard.jsx
vite-app/src/components/CBKCDialog.jsx
vite-app/src/components/CBKCInput.jsx
vite-app/src/components/CBKCNavLink.jsx
vite-app/src/customHooks/useAuth.jsx
vite-app/src/features/eventsTab/EventsTab.jsx
vite-app/src/features/fightersTab/FightersTab.jsx
vite-app/src/features/tryoutsTab/components/TryoutsEditEventPopUpContent.jsx
vite-app/src/features/tryoutsTab/components/TryoutsFIghtersTable.jsx
vite-app/src/features/tryoutsTab/components/TryoutsTable.jsx
vite-app/src/features/tryoutsTab/TryoutsDetail.jsx
vite-app/src/features/tryoutsTab/TryoutsTab.jsx
vite-app/src/functions/putData.js
vite-app/src/index.css
vite-app/src/layout/DashboardLayout.jsx
vite-app/src/layout/renderRoutes.jsx
vite-app/src/layout/routes.jsx
vite-app/src/main.jsx
vite-app/src/util/CircleLoader.jsx
vite-app/src/util/formatDates.js
vite-app/vite.config.js
vite-app/.env
