{% load static %}    
    <nav class="z-depth-3">
        <div class="nav-wrapper cbkc-nav ">
            <div class='container'>
                <a href="#" data-target="sideNavbar" class="sidenav-trigger"><i class="material-icons">menu</i></a>

                <a href="{% url 'home' %}" class="brand-logo"><img src="{% static 'images/logo.png' %}" alt="CBKC Logo" style="height:60px; padding:5px;"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'events_list' %}">Events</a></li>
                    <li><a href="{% url 'tryoutsHome' %}">Tryouts</a></li>

                </ul>
            </div>
        </div>
    </nav>




    <ul class="sidenav" id="sideNavbar">
        <li><a href="{% url 'events_list' %}">Events</a></li>
        <li><a href="{% url 'tryoutsHome' %}">Tryouts</a></li>

    </ul>