{% extends "base.html" %}


{% block content %}

{% with first_event=upcoming_events|first %}
  {% if first_event %}
    <div class="headerBackground" style="background-image: url('{{ first_event.banner.url }}');">
    </div>
  {% endif %}
{% endwith %}

    {% include 'includes/heroEvent.html' %} 

    
    <div class='backgroundPhotoCover'>
    </div>
    <div class='heroSignature grey-text'>
        <h1> Canadian</h1>
        <h1> Bareknuckle</h1>
        <h1> Championship</h1>
    </div>  





<div class="home-upnext-row">
    <div class='container center-align'>
        <h4 class='black-text'> Upcoming Events</h4>
    </div>

    {% include 'includes/upcomingEvents.html' %}
</div>



<div class='container'> {% include 'includes/featuredArticles.html' %}</div>


{% endblock %}