{% extends "base.html" %}

{% block title %}Home | CBKC{% endblock %}

{% block content %}
<div class='headerBackground'  style="background-image: url('{{ upcoming_events.banner.url }}');"  >



    {% include 'includes/heroEvent.html' %} 

    
    <div class='backgroundPhotoCover'>
    </div>
    <div class='heroSignature'>
        <h6> Canadian</h6>
        <h6> Bareknuckle</h6>
        <h6> Championship</h6>
    </div>  
</div>



<div class="home-upnext-row">
    <div class='container center-align'>
        <h4 class='black-text'> Upcoming Events</h4>
    </div>

    {% include 'includes/upcomingEvents.html' %}
</div>




{% endblock %}